extend layout

block content
  .container(ng-app="project")
    h1 mimosa-angular-require-jade-bootstrap
    p.lead.
      An official Angular "Projects" example ported to Require.js and Bootstrap 3.
      Built with <a href="http://mimosa.io">Mimosa</a>.
    h2 JavaScript Projects
    div(ng-view)
